body {
  height: 2000px;
}
.jumbotron {
  padding-top: 6rem;
  background-color: #e2edff;
}
.navbar-brand {
  font-family: "Pattaya", sans-serif;
  font-family: "Permanent Marker", cursive;
}
section {
  padding-top: 5rem;
}
